body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}
header{
    background-color: #007bff;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold
}
.form-container{
    max-width: 95%;
    margin: 50px auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h2{
    margin-bottom: 20px;
    color: #333;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
button{
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    align-self: flex-end;
    width: auto;
}
button:hover{
    background-color: #0056b3;
}